.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
body{
    background: url('./mspecialimgs/booktable.webp');
    background-position: center;
    background-size: cover;
}

.form-group label{
    color: white;
}
.fa-circle-check{
    color: green;
}

