body{
    background: url(./loginimg/relo.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;

}


p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
}p a{
    color: antiquewhite;
}

.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 35px;
}

.para-2 a{
    color: #49c1a2;
}
.login-box{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: rgba(9, 131, 172, 0.577);
}

a{
    color: white;
    font-size: 16px;
}
.li{
    font-size: 20px;
}
.li:hover{
    border: 2px solid gold;
}

h1,h4{
    color: white;
}
body {
    font-family: Arial, sans-serif;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(211, 211, 216);
    text-align: start;
  }
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .error-message {
    color: red;
    font-size: 14px;
  } 
  
  #signupForm{
    opacity: 0.98;
    position: relative;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #signupForm{
    background-color: rgba(9, 131, 172, 0.577);
    padding: 15px;
    width: 350px;
    
  }